body {
  font-family: arial, sans-serif;
}

h1 {
  color: #878787;
  font-size: 25px;
  font-weight: 100;
  line-height: 30px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 100;
  line-height: 20px;
}

li:first-letter {
  text-transform: capitalize;
}

.wrapper {
  max-width: 600px;
  margin: 33px auto;
}

.weather-app-border {
  padding: 22px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}

.overview {
  margin-bottom: 22px;
}

.weather-temp img {
  margin-right: 5px;
  height: 65px;
  width: 65px;
}

.weather-temp strong {
  font-size: 65px;
  font-weight: 400;
  line-height: 1;
}

.weather-temp .units {
  position: relative;
  font-size: 15px;
  top: -33px;
}
